$path: ''

// From GDS's alphagov/govuk_frontend_toolkit
@import 'colours'
@import 'font_stack'
@import 'measurements'
@import 'conditionals'
@import 'device-pixels'
@import 'grid_layout'
@import 'typography'
@import 'shims'

@import 'design-patterns/alpha-beta'
@import 'design-patterns/buttons'
@import 'design-patterns/breadcrumbs'

// From GDS's alphagov/govuk_elements
@import 'elements/helpers'
@import 'elements/reset'

// Base (unclassed HTML elements)
// These are predefined by govuk_template
// If you're not using govuk_template, uncomment the line below.
// HTML elements, set by the GOV.UK template
// @import 'elements/base'

@import 'elements/layout'
@import 'elements/elements-typography'
@import 'elements/buttons'
// @import 'elements/icons'
@import 'elements/lists'
// @import 'elements/tables'
@import 'elements/details'
@import 'elements/panels'
@import 'elements/forms'
@import 'elements/forms/form-block-labels'
@import 'elements/forms/form-date'
@import 'elements/forms/form-validation'
@import 'elements/breadcrumbs'
@import 'elements/phase-banner'
@import 'elements/components'

.list-contents li
  @include core-16


// Column full width
// ==========================================================================

.column-full
  @include grid-column(1)

.column-one-sixth
  @include grid-column(1/6)

// Register styles
// ==========================================================================

div.register
  background: $grey-3
  margin-top: 20px
  padding: 6px
  min-height: 100px
  h3
    margin-top: 4px
    margin-left: 4px

span.domain
  background: $alpha-colour
  font-size: 10px
  color: white
  padding: 2px
  vertical-align: bottom

// Phase styles
// ==========================================================================

$proposed-colour: $grey-1
$prospect-colour: $purple

.proposed.phase
  background: $proposed-colour
.prospect.phase
  background: $prospect-colour
.discovery.phase
  background: $discovery-colour
.alpha.phase
  background: $alpha-colour
.beta.phase
  background: $beta-colour
.live.phase
  background: $live-colour

.phase
  color: $page-colour
  text-align: center
  padding-top: 4.8px
  padding-bottom: 4.8px

.proposed.phase-count
  color: $proposed-colour
.prospect.phase-count
  color: $prospect-colour
.discovery.phase-count
  color: $discovery-colour
.alpha.phase-count
  color: $alpha-colour
.beta.phase-count
  color: $beta-colour
.live.phase-count
  color: $live-colour

.phase-count
  font-size: 80px
  text-align: center
  font-weight: bold
  display: block

// Form label
// ==========================================================================

.form-label
  @extend .heading-small
  font-weight: bold

